*
{
	margin: 0;
	padding: 0;
}
body
{
	background: black;
	color: white;
}
.historia
{
	width: calc(100%-200px);
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 100px;
	padding-right: 100px;
	border: 1px solid gray;
}
p
{
	padding-top: 20px;
}