*
{
	margin: 0;
	padding: 0;
}
body
{
	background: black;
	color: white;
}
nav
{
	height: 50px;
	width: 100%;
	background-color: black;
	display: flex;
	position: fixed;
	top: 0;
	z-index: 3;
}
nav>ul
{
	width: 25%;
	display: flex;
}
nav>ul>li
{
	width: 100%;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	border: 1px solid gray;
}
nav>ul>li>ol
{
	width: 100%;
}
nav>ul>li>ol>li
{
	list-style: none;
	background-color: black;
	display: none;
}
nav>ul>li:hover>ol>li
{
	display: block;
}
nav ul li a
{
	height: 50px;
	width: 100%;
	text-decoration: none;
	color: gray;
	display: flex;
	justify-content: center;
	align-items: center;
}
nav ul li a:hover
{
	background-color: gray;
	color: black;
}
main
{
	clear: both;
	padding-top: 50px;
	height: calc(100vh-50px);
	display: flex;
}
main section
{
	clear: both;
	height: calc(100vh - 50px);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-image: url(Image/Space.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: fixed;
	z-index: 2;
}
header
{
	width: 100%;
	padding-top: 100px;
	padding-bottom: 50px;
}
div
{
	padding-top: 50px;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}
img
{
	height: 400px;
	width: 400px;
	border: 1px solid gray;
}
h1
{
	width: calc(100%-460px);
	padding-left: 230px;
	padding-right: 230px;
	display: flex;
	justify-content: space-evenly;
}
footer{
    width: 100%;
    border: 1px solid gray;
	box-sizing: border-box;
}
footer h6:nth-of-type(2){
    display: flex;
    justify-content: flex-end;
}
footer h4{
    display: flex;
    justify-content: center;
}